<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="./bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.jpeg">
    <link rel="stylesheet" href="style.css">
    <title>Cauquen Cabañas</title>
  </head>
  <body >
       <!-------------------------------NAVBAR------------------------------------------------ -->
    <header class="class sticky-top">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light opacity-75">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">Cauquen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="galeria.html">Galeria</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="ubicanos.html">Ubicanos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contactanos.html">Contactanos</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          
          </div>
        </div>
      </div>
    </header>
    
    <!-------------------------------CONTENIDO------------------------------------------------ -->
    
    <section id="services" class="services">
        <div class="container">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>Queremos que tu estadía sea aun más placentera de lo que imaginaste. Nuestras instalaciones cuentan con todas las comodidades para que vos y tu familia puedan disfrutar de todo lo que Yacanto tiene para ofrecerles, sabiendo que nosotros nos encargamos de todo!
        
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box"> 
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Disponibilidad</a></h4>
              <p class="description">Estamos abiertos todo el año, para que puedas disfrutar de nuestro complejo tanto en verano como en invierno</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi-file-medical"></i></div>
              <h4 class="title"><a href="">Compromiso</a></h4>
              <p class="description">En Cauquen tomamos todos los recaudos correspondientes en el contexto de la pandemia por COVID 19 cumpliendo con todos los protocolos vigentes</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Conectividad</a></h4>
              <p class="description">Contamos con conexión a WIFI gratuita en todo el complejo</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Actividades</a></h4>
              <p class="description">Nuestro staff te asesorará para que conozcas los lugares más lindos de Yacanto de Calamuchita</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi-house-door"></i></div>
              <h4 class="title"><a href="">Comodidad</a></h4>
              <p class="description">Nuestras cabañas están completamente equipadas para hasta 8 personas y por supuesto: somos Pet friendly!</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box">
              <div class="icon"><i class="bi-emoji-sunglasses"></i></div>
              <h4 class="title"><a href="">¿La idea?</a></h4>
              <p class="description">Que te vayas un poquito más feliz de lo que llegaste</p>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->
  


       <!---------------------------------------FOOTER------------------------------------------------------- -->
    <div>
      <footer>
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>Seguinos en <a href="https://www.instagram.com/complejocauquen/?utm_medium=copy_link">Instagram</a> y compartinos fotos de tu estadía!</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Designated by <cite title="Source Title">Araoz Lucia  Copyright 2022</cite>
          </figcaption>
        </figure>
      </footer>
     

    </div>


     




    <!--JavaScript-->

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
