@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
a{
    text-decoration: none;
}
body{
    background-color: #eee1b1;
}
.class{
    list-style: none;
    background-color: #eee1b1;
    font-family: 'Quintessential', cursive;
    font-weight: bold;   
    justify-content: space-between;
}

li{
    list-style: none;
    display: inline;
        border-style: outset;
        padding: 10px 30px 10px 30px;
}
.nav-link a{
    color:#4b3b04
    
}


ul{
    margin-left: 100px;
}
section{
    margin-top: 80px;
    border: solid #4b3b04;
    padding: 3px 3px 3px 3px;
    margin-left: 20px;
    margin-right: 20px;

}


/*-------------------------------------SECCION SERVICIOS-----------------------------*/
h2{
    text-align: center;
}
.services .icon-box {
    margin-bottom: 20px;
    text-align: center;
  }
  .services .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    color: #5c9f24;
    overflow: hidden;
    box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
  }
  .services .icon i {
    font-size: 36px;
    line-height: 0;
  }
  .services:hover .icon {
    box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
  }
  .services .title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
  }
  .services .title a {
    color: #444444;
    transition: 0.3s;
  }
  .services .title a:hover {
    color: #5c9f24;
  }
  .services .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #5c9f24;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .services .description {
    line-height: 24px;
    font-size: 14px;
  }

  /*----------CONTACTANOS------------*/
  .contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  .contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #5c9f24;
  }
 
 
  .contact .php-email-form button[type=submit] {
    background: #5c9f24;
    border: 0;
    padding: 10px 30px 12px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
